* {
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
  margin: 5rem 0 2rem;
  color: #333;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.controlPanel {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.controlPanel > * {
  display: flex;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.controlPanel > * > div {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.fa-heart {
  color: tomato;
}

.fa-heart path {
  stroke: black;
  stroke-width: 10;
}

.fa-heart:not(:last-of-type) {
  margin-right: -1rem;
}

.points {
  color: grey;
}

.gameTableWr {
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}

.gameTableWr > * {
  border-radius: 15px;
  overflow: hidden;
}

.gameTable {
  backface-visibility: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background: #333;
}

.gameTableBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: whitesmoke;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateX(-180deg);
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, .5); */
}

.info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.gameTableBack span {
  color: #333;
  font-size: 3rem;
}

.gameTableBack .addInfo,
.gameTableBack .addInfo span {
  font-size: 1rem;
  color: #777;
}

.gameTableBack button {
  font-family: sans-serif;
  text-transform: uppercase;
  background: tomato;
  border: 1px solid #ff4a29;
  color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  outline: none;
}

.gameTableBack button:hover {
  background: #ff3713;
}

.gameTableBack button:active {
  transform: scale(0.97);
}

.lvlProgress {
  display: flex;
  align-items: center;
}

.lvlDelimiter {
  margin: 0 0.5rem;
}

.none {
  display: none;
}
